html{
    font-family: 'Tektur', Russo One,  sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


#navbar {
    top: 10px;
    width: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    position: sticky;
}




.Navs {
    justify-self: flex-end;
    text-decoration: none;
    color: black;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
}