html{
    font-family: 'Tektur', Russo One,  sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


#navbar {
    top: 10px;
    width: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    position: sticky;
    border-color: black;
}
#logonav {
    margin-right: auto;
    margin-left: 20px;
}
.Navs {
    flex-direction: row-reverse;
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

#navbar :hover {
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

#logonav:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    background-color:white ;
}
.Home {
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

h1 {
    font-size: 3em;
    text-align: center;
    
}

.home-intro {
    background-image: url('img/sole-intro.webp');
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    min-height: 1000px 
}

.des {
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
}

.indroduction {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.money {
    background-color: rgba(243, 241, 241, 0.889);
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Tektur', Russo One,  sans-serif;
}
.money:hover {
    background-color: rgb(200, 200, 200);
    transform: scale(1.1);
    transition: transform 0.9s ease-in-out;
}